# "Sample Mean of the Data"
-Average of the Data

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('pokemon_data.csv')
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## Taking Mean Of Columns (Row wise)

In [2]:
df[["HP","Attack", "Defense"]].mean(axis='columns').head(10)

0     47.666667
1     61.666667
2     81.666667
3    101.000000
4     44.666667
5     60.000000
6     80.000000
7    106.333333
8     86.666667
9     52.333333
dtype: float64

## Taking Mean Of Columns (Column wise (ByDefault))

In [3]:
df[["Sp. Atk","Sp. Def","Speed"]].mean(axis='index')

Sp. Atk    72.8200
Sp. Def    71.9025
Speed      68.2775
dtype: float64

## Taking Mean at Specific Place in Table (Row wise)

In [4]:
# df[[]][columnStart : columnEnd]
# Taking Mean From 10 to 20

df[["Attack","Speed"]][10:20].mean(axis="columns")

10     60.5
11     80.5
12     90.5
13     37.5
14     25.0
15     57.5
16     42.5
17     30.0
18     82.5
19    147.5
dtype: float64

## Taking Mean at Specific Place in Table (Column Wise(ByDefault))

In [60]:
df[["Defense"]][5:11].mean()

Defense    78.333333
dtype: float64