# "Median of Data"
 -Value that is in the middle

In [20]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
df.head(1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

## Median Row Wise

In [19]:
df[["HP","Attack","Defense"]].median(axis='columns')

0       49.0
1       62.0
2       82.0
3      100.0
4       43.0
       ...
795    100.0
796    110.0
797     80.0
798     80.0
799    110.0
Length: 800, dtype: float64

## Median column wise (default)

In [24]:
df[["HP","Attack","Defense"]].median()

# OR
# .median(axis='index')

HP         65.0
Attack     75.0
Defense    70.0
dtype: float64

## Finding Median of Specific Place in Table

In [29]:
df[["HP"]][10:20].median()

HP    59.5
dtype: float64

In [31]:
# Row wise

df[["Attack"]][20:30].median(axis='columns')

20    45.0
21    60.0
22    80.0
23    80.0
24    56.0
25    81.0
26    60.0
27    90.0
28    60.0
29    85.0
dtype: float64