# "Mode of the Data"
-Most Frequent data

In [1]:
import pandas as pd

df = pd.read_csv("pokemon_data.csv")
df.head(1)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

## Mode Row wise

In [2]:
df[["HP","Attack","Defense"]].mode(axis='columns')

        0      1      2
0    49.0    NaN    NaN
1    60.0   62.0   63.0
2    80.0   82.0   83.0
3    80.0  100.0  123.0
4    39.0   43.0   52.0
..    ...    ...    ...
795  50.0  100.0  150.0
796  50.0  110.0  160.0
797  60.0   80.0  110.0
798  60.0   80.0  160.0
799  80.0  110.0  120.0

[800 rows x 3 columns]

## Mode Column wise (default)

In [3]:
df[["HP","Attack"]].mode()

# OR
# .mode(axis='index')

   HP  Attack
0  60     100

### Find mode at Specific Place in Table

In [4]:
df[["Speed","Attack"]][10:40].mode()

   Speed  Attack
0     50    60.0
1     56    90.0
2     65     NaN
3     70     NaN
4     78     NaN